
/* -------  General Styles ------- */

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #9cafb7;
}

header {
  background-color: #11151c;
  margin-bottom: 40px;
}

.logo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 80px;
  color: #364156;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

.foot {
  display: flex;
}

.item img {
  margin: 15px 0 0 0;
  
}

/* -------  Portfolio Flex Columns ------- */

.some-page-wrapper {
  margin: 1px;
  
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


/* ---  Navigation --- */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header nav ul li a:hover {
  color: #e9bbbb;
}

@media all and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 14px 0 14px 20px;
    padding-top: 0;
    font-size: 42px;
    color: #fff;
  }
  
  header nav {
    margin-top: 15px;
  }
}

/* ---  Primary Groups --- */

main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}


footer {
  background-color: #11151c;
  margin-top: 40px;
  margin-bottom: 0;
}

/* ---  Typography --- */

h1 {
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

h2 {
  font-size: 26px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  margin: 0 10px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

h3 {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  text-decoration: overline;
}

p {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 line-height: 1.5em;
 margin-bottom: 0;
}

.spotify {
  margin-bottom: 20px;
}

main a {
	font-weight: 700;
	text-decoration: none;	
}

main  a:link { color: #4d0463; }
main  a:visited { color: #38786a; }
main  a:hover { color: #403933; }
a:active { color: #403933; }



a:hover {
	text-decoration: underline;	
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a:link { color: #ffffff; }
footer a:visited { color: #38786a; }
footer a:hover { color: #dbff76; }

.foot a:link { color: #ffffff; }
.foot a:visited { color: #38786a; }
.foot a:hover { color: #dbff76; }



main img {
  width: 100%;
}

img.image-enhanced {
  border-radius: 1px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 1;
}



/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}



/* Contact Form Design */

form {
  padding-right: 0px;
}

form label {
  display: block;
}

form input, 
form textarea {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}







